/* --- FONTS & VARIABLES --- */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;600;700&display=swap');

:root {
    /* Brand Colors */
    --hero-maroon: #5E1925;
    --hover-maroon: #4a141d;
    --maroon-primary: #641E1E;
    --accent-gold: #C5A059;
    --gold-accent: #B28761;
    --text-dark: #2D0A0E;
    --text-espresso: #2D1B1B;
    /* Backgrounds */
    --bg-header-light: #FAF9F8; /* Top section off-white */
    --bg-body-warm: #FBF7F2; /* Premium cream body */
    --bg-cream: #F8F5F2; /* Bottom section warm cream */
}

/* --- GLOBAL STYLES --- */

html {
    scroll-behavior: smooth; /* para masmooth ang scrolling */
}

body {
    background-color: var(--bg-body-warm);
    color: var(--text-dark);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Text Style */

.font-playfair {
    font-family: 'Playfair Display', serif;
}

.text-gold-accent {
    color: var(--accent-gold) !important;
}

.text-maroon {
    color: var(--hero-maroon) !important;
}

.italic-style {
    font-style: italic;
}

/* Spacing Utilities */

.spacer-large {
    height: 100px;
    background-color: var(--bg-cream);
}

.tracking-widest {
    letter-spacing: 4px;
}

.extra-small {
    font-size: 0.7rem;
    letter-spacing: 0.8px;
    font-weight: 700;
}

/* Section Gaps*/

section.container-fluid {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    display: block;
    width: 100%;
}

.row {
    margin-bottom: 0 !important;
}
